.tabela-categoria {
  width: 100%!important;
  border-spacing: 0;
}
.tela{
  width: 100%;
  max-width: 800px;
  margin: 16px auto;
}

.mat-card-content {
  max-height: 367px!important;
  overflow: auto!important;
}
