<form [formGroup]="form" class="auth-container">
  <div class="form-cadastro">
    <mat-card class="cadastro">
      <mat-card-header>
        <mat-card-title>Dados Pessoais</mat-card-title>
        <mat-card-subtitle>Faça seu cadastro é seguro e gratuito!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field [appearance]="'fill'" class="cmp">
            <mat-label>Nome Completo</mat-label>
            <input matInput formControlName="nome" required placeholder="Nome Completo" type="text" required>
            <mat-error>Nome Completo obrigatório</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field [appearance]="'fill'" class="cmp">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" required placeholder="seu@email.com" type="email" required>
            <mat-error>Email obrigatório</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field [appearance]="'fill'" class="cmp">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" required>
            <mat-error>Senha obrigatória</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field [appearance]="'fill'" class="cmp">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput type="password" formControlName="senha" required>
            <mat-error>Confirmar Senha obrigatória</mat-error>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  color="primary" mat-button [disabled]="form.invalid">Cadastrar-se</button>
      </mat-card-actions>
      <mat-error *ngIf="mensagemError">{{mensagemError}}</mat-error>
    </mat-card>
  </div>
</form>

