<div class="background-login">

  <div class="ilustracao">

  </div>

  <div class="form-login">

    <form [formGroup]="form" class="login-container">

      <h1 style="text-align: center;color: #c1c1c1;">Acesso Restrito </h1><br>

      <mat-card class="login">
        <mat-card-header><br>
            <!--<mat-card-title>Acesso Restrito</mat-card-title>-->
        </mat-card-header>
        <mat-card-content>
            <p>
              <mat-form-field [appearance]="'fill'" class="cmp-login">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required placeholder="seunome@examplo.com" type="text">
                <mat-error>Email obrigatório</mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field [appearance]="'fill'" class="cmp-login">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha" required>
                <mat-error>Senha obrigatória</mat-error>
              </mat-form-field>
            </p>

        </mat-card-content>
        <mat-card-actions align="end">
            <button color="primary" mat-button>Entrar</button>
        </mat-card-actions>
      </mat-card>
    </form>

  </div>

</div>



