/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; padding: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.no-margin{margin: 0!important;}
.card-subtitle {display: block; width: 100%;clear: both;}
.conteudo {margin-top: 2%;}
.card-form {margin-bottom: 2%;}
.mat-form-field { margin-left: 16px;}
.card-btns {margin-top: 2%;}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 212);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #673ab7;
}
